env:
  TERM_PROGRAM: alacritty

font:
  normal:
    family: {{ terminal_font }}
    style: Regular
  bold:
    family: {{ terminal_font }}
    style: Bold
  Italic:
    family: {{ terminal_font }}
    style: Italic
  bold_italic:
    family: {{ terminal_font }}
    style: Bold Italic
  size: {{ alacritty_font_size }}

colors:
  primary:
    background: '{{ alacritty_colors.background }}'
    foreground: '{{ alacritty_colors.foreground }}'
  search:
    matches:
      foreground: '{{ alacritty_colors.background }}'
      background: '{{ alacritty_colors.red }}'
    focused_match:
      foreground: '{{ alacritty_colors.background }}'
      background: '{{ alacritty_colors.yellow }}'
    bar:
      background: '{{ alacritty_colors.yellow }}'
      foreground: '{{ alacritty_colors.background }}'
  normal:
    black:   '{{ alacritty_colors.black }}'
    red:     '{{ alacritty_colors.red }}'
    green:   '{{ alacritty_colors.green }}'
    yellow:  '{{ alacritty_colors.yellow }}'
    blue:    '{{ alacritty_colors.blue }}'
    magenta: '{{ alacritty_colors.magenta }}'
    cyan:    '{{ alacritty_colors.cyan }}'
    white:   '{{ alacritty_colors.white }}'
  bright:
    black:   '{{ alacritty_colors.bright_black }}'
    red:     '{{ alacritty_colors.bright_red }}'
    green:   '{{ alacritty_colors.bright_green }}'
    yellow:  '{{ alacritty_colors.bright_yellow }}'
    blue:    '{{ alacritty_colors.bright_blue }}'
    magenta: '{{ alacritty_colors.bright_magenta }}'
    cyan:    '{{ alacritty_colors.bright_cyan }}'
    white:   '{{ alacritty_colors.bright_white }}'

window:
  startup_mode: Maximized
