[user]
{% if dotfiles_git_user_name is defined %}
        name = {{ dotfiles_git_user_name }}
{% endif %}
{% if dotfiles_git_user_email is defined %}
        email = {{ dotfiles_git_user_email }}
{% endif %}
[core]
        editor = vim
        excludesFile = ~/.gitignore
[pull]
        rebase = true
[alias]
        a = add
        aa = add --all
        b = branch
        bl = blame -b -w
        c = commit --verbose
        ca = commit --amend --verbose
        can = commit --amend --no-edit --verbose
        cfg = config --list
        cm = commit -m
        co = checkout
        cob = checkout -b
        cor = checkout -
        cot = checkout --track
        d = diff
        l = log --pretty='%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        lg = log --graph --pretty='%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        lga = log --all --graph --pretty='%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        lp = log --patch-with-stat
        ls = log --stat
        m = merge
        ma = merge --abort
        pl = pull
        ps = push
        psf = push --force-with-lease
        r = remote
        rb = rebase
        rba = rebase --abort
        rbc = rebase --continue
        rv = remote --verbose
        s = status
        st = stash
        sta = stash apply
        stc = stash clear
        std = stash drop
        stl = stash list
        stp = stash pop
        sts = stash show --text
        sv = status --verbose
