// Place your key bindings in this file to override the defaultsauto[]
[
    {
        "key": "shift shift",
        "command": "workbench.action.showCommands"
    },
    {
        "key": "ctrl+\\",
        "command": "gl.pipelineActions"
    }
]