{
    "editor.fontFamily": "'{{ editor_font }}',monospace",
    "editor.fontSize": {{ vscode_editor_font_size }},
    "editor.formatOnSave": true,
    "files.simpleDialog.enable": true,
    "files.trimTrailingWhitespace": true,
    "terminal.integrated.fontFamily": "'{{ terminal_font }}',monospace",
    "terminal.integrated.fontSize": {{ vscode_terminal_font_size }},
    "terminal.integrated.shell.linux": "/usr/bin/zsh"
}